body{
    background-image: url("../image/pagBlue.png");
    font: normal normal 11px Arial,Tahoma,Helvetica,FreeSans,sans-serif;
}

.menuLeft{
    margin: 0;
    padding: 0%;
    width: 100%;
    height: 40px;
}

.menuLeft li{
    float: left;
    list-style: none;
    width: 100%;
    margin: auto;
    padding: 10px 0px;
    border-bottom: solid 1px gray;
}


.menuLeft li a{
    color: white;
    width: 100%;
    padding: 12px 70px 12px 20px;
}

.menuLeft li a:hover{
    text-decoration: none;
}

#general{
    margin: 30px 100px;
    float: left;
    background-color: rgb(32, 32, 32);
    box-shadow: 0px 5px 5px #646464;
}

.aside{
    width: 20%;
    display: block;
    float: left;
    clear: left;
}

.right{
    width: 80%;
    display: block;
    float: left;
}

.logo-img img{
    width: 150px;
    height: 54px;
    float: left;
}

.logo{
    width: 100%;
    background-color: white;
    padding: 20px 40px;
    float: left;
    border-top: solid 10px #007bff;
    box-shadow: 0px 5px 5px #646464;
}

.user{
    background:linear-gradient(135grad,#278bf7,#5eabfd,#8ab9eb);
    padding: 25px 3px;
    opacity: .98;
    box-shadow: 0px 1px 5px #646464;
}

.user-img img{
    width: 150px;
    height: 150px;
}

.user-img{
    margin-bottom: 10px;
}

.user-legend{
    margin: 20px;
}

.user-legend p{
    margin: 2px;
}

.user-legend h2{
    font-size: 23px;
}

.icon-button{
    background-color: #007bff;
    color: white;
    padding: 5px 8px;
    margin: 0;
    border-radius: 3px;
}

.btn-user{
    background-color: #ffffff;
    color: black;
    padding: 5px 5px 5px 0;
    font-size: 13px;
    margin: 3px;
    border-radius: 3px;
}

.btn-user:hover{
    background-color: #007bff;
    text-decoration: none;
    color: white;
}

.left{
    color: white;
}

.menu-content{
    border-bottom: solid 10px white;
    
    box-shadow: 0px 2px 2px #646464;
}

.nav{
    background-color: rgb(32, 32, 32);
    box-shadow: 0px 2px 5px #646464;
    border-bottom: solid 10px #007bff;
    padding: 0;
    height: 64px;
}

.home{
    background-color: #007bff;
    float: left;
    height: 70px;
    width: 10%;
    margin: 0 15px 0 15px;
    position: relative;
    top: -8px;
    display: flex;
}

.home .icon-home{
    opacity: .95;
    font-size: 40px;
    margin: auto;
}

.home .icon-home a{
    color: #eef1ff;
    padding: 5px 23px;
}

.home .icon-home a:hover{
    color: white;
}

.menu{
    margin: 0;
    padding: 0%;
    width: 85%;
    height: 40px;
}

.menu li{
    float: left;
    list-style: none;
    margin: auto;
    padding: 15px 0px;
}

.menu li a{
    color: white;
    text-transform: uppercase;
    padding: 17px 60px;
}

.menu li a:hover{
    background-color: #007bff;
    text-decoration: none;
}

.gestion{
    background-color: white;
    text-align: center;
    padding: 50px;
    
}

.wellcome{
    background-color: aquamarine;
}

.content.img{
    margin: auto;
}

.gestion a{
    padding: 70px 70px;
    margin: 18px;
    position: relative;
}

#bombillo-icon{
    background-color: rgb(204, 0, 0);
}

#bombillo-icon:hover{
    background-color: rgb(240, 2, 2);
}

#ray-icon{
    background-color: #47a0ff;
}

#ray-icon:hover{
    background-color: #7fbcfd;
}

#controlpar-icon{
    background-color: #ffbf0e;
}

#controlpar-icon:hover{
    background-color: #ffd151;
}

#config-icon{
    background-color: #02dd3c;
}

#config-icon:hover{
    background-color: #24ff5e;
}


.gestion img{
    width: 100px;
    height: 100px;
    margin: 50px 20px;
}

.lala{
    background-size: 100% 230%;
    height: 500px;
}

.general-form {
    margin: 0 auto;
    max-width: 600px;
    box-shadow: 0 0 3px gray;
}

form {
    padding: 30px;
    padding-top: 0px;
    box-sizing: border-box;
}

.form-title {
    padding: 10px 20px;
    background-color: #007bff;
    margin-bottom: 30px;
    text-align: left;
}

.form-title p {
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

.grupo-form {
    display: flex;
    margin-bottom: 20px;
    border: 1px solid #9ecdff;
    border-radius: 5px;
}

.contact-icon {
    flex: 1 0 10%;
    background-color: #007bff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.input-camp {
    padding: 10px;
    border: 0px;
    flex: 1 0 90%;
}

form textarea {
    max-height: 300px;
    min-height: 150px;
}

.boton-enviar {
    display: block;
    width: 100%;
}

.warning {
    margin-bottom: 20px;
    padding: 10px 15px;
    border-radius: 5px;
    text-align: left;
}

.success {
    border: 2px solid #00bb1f;
    color: #00bb1f;
    background: #cffad6;
}

.error {
    border: 2px solid red;
    color: red;
    background: rgb(253, 218, 218);
}

