#general{
    margin: 50px 100px;
}

.left{
    width: 20%;
    background-color: aquamarine;
    display: block;
    float: left;
}

.right{
    width: 80%;
    background-color: chartreuse;
    display: block;
    float: left;
}

.user-img img{
    width: 150px;
    height: 150px;
}

.nav{
    background-color: blue;
    padding: 20px 0px;
    margin: 10px;
    border-radius: 10px;
}

.menu{
    margin: 0;
    padding: 0%;
    width: 100%;
    display: flex;

}

.menu li{
    float: left;
    list-style: none;
    background-color: black;
    margin: auto;
    padding: 15px 60px;
    border-radius: 25px;
}

.menu li a{
    color: white;
}

.gestion{
    background-color: blueviolet;
    margin: 10px;
}

.gestion img{
    width: 340px;
    height: 180px;
}