body{
    background-image: url("../image/pag.png");
}

#general{
    margin: 30px 100px;
}

.left{
    width: 20%;
    display: block;
    float: left;
}

.right{
    width: 80%;
    display: block;
    float: left;
}

.user{
    background-color: white;
    margin: 10px 0px;
    padding: 20px;
    border: solid 1px rgb(204, 204, 204);
}

.user-img img{
    width: 150px;
    height: 150px;
}

.nav{
    background-color: white;
    padding: 20px 0px;
    margin: 10px;
    border-radius: 5px;
    border: solid 1px rgb(204, 204, 204);
}

.menu{
    margin: 0;
    padding: 0%;
    width: 100%;
    display: flex;

}

.menu li{
    float: left;
    list-style: none;
    background-color: black;
    margin: auto;
    padding: 15px 60px;
    border-radius: 25px;
}

.menu li a{
    color: white;
}

.gestion{
    background-color: white;
    margin: 10px;
    text-align: center;
    padding: 50px;
    border: solid 1px rgb(204, 204, 204);
}

.content.img{
    margin: auto;
}


.gestion img{
    width: 320px;
    height: 180px;
    margin: 10px;
}

footer{
    clear: left;
    background-color: blue;
}