<div class="general">
        <div>
            <div class="contenedor text-center">
                <div class="formulario">
                    <div class="titulo">
                        <p>Registrarse</p>
                    </div>
                    <div class="content">
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Usuario"/>
                                <div class="icon-form"><i class="fas fa-user"></i></div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Email"/>
                                <div class="icon-form"><i class="fas fa-envelope"></i></div>
                            </div>
                            <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Nombre"/>
                                    <div class="icon-form"><i class="fas fa-pencil-alt"></i></div>
                                </div>
                                <div class="form-group" id="contra-camp">
                                    <input type="text" class="form-control" placeholder="Apellido"/>
                                    <div class="icon-form"><i class="fas fa-pencil-alt"></i></div>
                                </div>
                                <div class="form-group" id="contra-camp">
                                    <input type="password" class="form-control" placeholder="Contraseña"/>
                                    <div class="icon-form"><i class="fas fa-lock"></i></div>
                                </div>
                                <div class="form-group" id="contra-camp">
                                    <input type="password" class="form-control" placeholder="Confirmar contraseña"/>
                                    <div class="icon-form"><i class="fas fa-lock"></i></div>
                                </div>
                                
                            <button type="submit" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i> Ingresar</button>
                        </form>
                        <div class="forgot-pass">
                            <a href="#">Recuperar contraseña</a>
                        </div>
                    </div>
                    <div class="registrarse">
                    <div class="text-registro">¿No tienes cuenta?<a href="#">Registrate</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>