@import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');

body {
    background-image: url("../src/assets/images/fondopag.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
}